<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/springBoot.log</file>
		<rollinspringBootlicy class="ch.qos.logback.core.rolling.TimeBasedRollinspringBootlicy">
			<fileNamePattern>logs/springBoot.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollinspringBootlicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 --> 
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.yy.springBootsc" level="INFO" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>

	<root level="ERROR">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>